<div id="container">
  <mat-card class="model-card"  >
    <mat-card-title> Restaurante - {{restaurantData.name}}</mat-card-title>
    <mat-card-content>
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/19/a4/6c/82/dining-and-bar-area.jpg" alt="Photo of a Shiba Inu">
    </mat-card-content>
    <mat-card-subtitle>Direccion : {{restaurantData.address}}</mat-card-subtitle>
    <mat-card-subtitle>Telefono : {{restaurantData.phoneNumber}}</mat-card-subtitle>
    <button mat-flat-button color="primary" (click)="navigateToRestaurantEdit()">
      Editar Informacion
    </button>
  </mat-card>

</div>
