<mat-drawer-container>
  <div>
    <div class="container">
      <mat-card class="profile-card">
        <mat-card-header>
          <mat-card-title>name:</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/UOT7XDVZCZGT3OX3ICGJWPFNPA.jpg">
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="profile-card">
        <div>
          <h2>DATOS</h2>
        </div>
        <mat-divider></mat-divider>
        <mat-card-header>
          <mat-card-title>name:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              Nombre : {{sourceConsultant.firstName}}
            </mat-list-item>
            <mat-list-item>
              Apellido : {{sourceConsultant.lastName}}
            </mat-list-item>
            <mat-list-item>
              Telefono : {{sourceConsultant.cellphone}}
            </mat-list-item>
            <mat-list-item>
              Email : {{sourceConsultant.email}}
            </mat-list-item>
            <mat-list-item>
              Educacion : {{sourceConsultant.linkedinLink}}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-divider></mat-divider>
    <h2 align="center">RESEÑAS</h2>
    <div class="container">
      <mat-card class="comment-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>name : {{sourceConsultant.firstName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Exelente trabajo</p>
        </mat-card-content>
      </mat-card>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-card class="comment-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>name:{{sourceConsultant.firstName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>Me ayudo entender mejor mi negocio</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>
