<mat-card>
  <mat-card-header>
    <mat-card-title>Productos</mat-card-title>
    <mat-card-subtitle>{{ isEditMode ? 'Editar Producto' : 'Agregar nuevo Producto  ' }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <form (submit)="onSubmit()" #productForm="ngForm">
        <mat-form-field>
          <input matInput placeholder="Id" name="id" requiered [(ngModel)]="productData.id">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nombre" name="name" requiered [(ngModel)]="productData.name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Precio" name="price" type = "number" requiered [(ngModel)]="productData.price">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="IdCategoria" name="categoryId" requiered [(ngModel)]="productData.categoryId">
        </mat-form-field>
        <ng-container *ngIf="isEditMode; else elseTemplate">
          <button mat-button color="primary">Update</button>
          <a mat-button color = "warn" (click) = "cancelEdit()">Cancelar</a>
        </ng-container>
        <ng-template #elseTemplate>
          <button mat-button color="primary">Agregar</button>
        </ng-template>
      </form>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Arroz con Pollo" #input>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z6">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> #Id </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{ element.price }}</td>
      </ng-container>
      <ng-container matColumnDef="categoryId">
        <th mat-header-cell *matHeaderCellDef> Categoria_id </th>
        <td mat-cell *matCellDef="let element"> {{ element.categoryId }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <a href="javascript:void(0)"  (click)="editItem(element)"><mat-icon inline aria-hidden="false" aria-label="Edit" style="padding-right: 10px;">edit</mat-icon></a>
          <a href="javascript:void(0)" (click)="deleteItem(element.id)"><mat-icon inline aria-hidden="false" aria-label="Delete">delete</mat-icon></a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{'editable-row': productData.id === row.id}"></tr>
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>


  </mat-card-content>


</mat-card>
