.mat-tab-group {
  margin-bottom: 48px;
}

mat-card{
  margin: auto;
  max-width:50%;
  min-width:400px;
  background: #f8f8f8;
}

.mat-card-title{
  padding-top:10px;
}

.example-form {
  min-width: 150px;
  padding-top:10px;
}

.example-full-width {
  width: 100%;
}

.example-container mat-form-field{
  width:150px!important;
}
td {
  padding-right: 8px;
}

table {
  width: 100%;
  background: #f8f8f8;
  margin-bottom:20px;
}

button{
  width:150px;
  float:left;
  margin-right:5px;
  background:#1BD698!important;
  display:inline;
}

.noback{
  background:#bbb!important;
}
.texto{
  width:80%;
  margin:10%;
  text-align: center;}

::ng-deep .mat-tab-label {
  pointer-events: none;
}



